@model ML.Usuario
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

<div class="row">
    <div class="col-md-12">
        <h4>Usuarios Registrados</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-sm-12 ms-2">
        <a href="@Url.Action("Formulario", "Usuario")"> <i class="bi bi-person-add" style="font-size: 3em; color:forestgreen"></i></a>
    </div>
    @*@Html.ActionLink("+", "Formulario", "Usuario", new {@class = "btn btn-success"})*@
</div>

<div class="row">
    <div class="table-responsive">

        @if (Model.Usuarios != null)
        {
            <table class="table table-hover">
                <tehead>
                    <tr>
                        <th>Editar</th>
                        <th>Nombre</th>
                        <th>FechaNacimiento</th>
                        <th>Eliminar</th>
                    </tr>
                </tehead>
                <tbody>
                    @foreach (ML.Usuario usuario in Model.Usuarios)
                    {
                        <tr>
                            <td>@Html.ActionLink("Editar", "Formulario", "Usuario", new { IdUsuario = usuario.IdUsuario }, new { @class = "btn btn-info" })</td>

                            <td>@usuario.Nombre <br /> @usuario.Apellido </td>
                            <td>@usuario.FechaNacimiento</td>
                            <td>
                                <a href="@Url.Action("Delete","Usuario", new {IdUsuario = usuario.IdUsuario})" onclick="alert('¡Esta seguro de eliminar este usuario!')">
                                    <i class="bi bi-trash" style="font-size: 2em;"></i>
                                </a>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="alert alert-danger" role="alert">
                Ha ocurrido un error!
            </div>
        }
    </div>
</div>
